.home-page{
    .text-zone{
        position: absolute;
        left: 120px;
        top: 50%;
        transform: translateY(-50%);
        min-width: 40rem;
        max-height: 40rem;
    }

    h1{
        color: #fff; 
        font-size: clamp(5rem, 1rem + 10vw,7rem);
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;


        img{
            max-width: 0.7em;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
    h2{
        color: #78828a;
        margin-top: 20px;
        font-weight: 400;
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 6px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color: #EDF060;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #EDF060;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        transition: 0.6s;

        &:hover{
            background: #EDF060;
            color: #495057;
            transition: 0.6s;
        }
    }

    .text-animate{
        display: inline-block;
        opacity: 0;
        animation: bounceIn 1s 1s;
        animation-fill-mode: forwards;
        min-width: 10px;
    }


    .text-animate-hover{
        min-width: 10px;
        display: inline-block;
        animation-fill-mode: both;

        &:hover{
            animation:  rubberBand  1s;
            color: #EDF060;
        }
    }

    @for $i from 1 through 35{
        .text-animate._#{$i}{
            animation-delay: #{$i / 10}s;
        }
    }
}


@media screen and (min-width: 20em) and (max-width: 32em){
    .home-page{
        .text-zone{
            left: 80px;
            h2{
                font-size: 20px;
            }
        }
    }
}